<% title @table.name %>

<h3>Reports</h3>
<p><%= link_to "New report from this table", new_table_report_path(@table) if permitted_to? :report, @table  %></p>
<%= render "reports/list", :list => @table.reports %>

<hr/>

<h6>User: <%= "#{@table.user.email}" %></h6>
<h6>Type: <%= "#{@table.metric_name}" %></h6>
<h6>Running time: <%= table_time_run(@table) %></h6>
<%= content_tag(:p, link_to("Edit", edit_table_path(@table))) if permitted_to? :edit, @table %>

<% if @test_html %>
  <p><%= link_to "Hide Table Output", table_path(@table) %></p>
  <%= @test_html %>
<% else %>
  <p><%= link_to "See Table Output", table_path(@table, :test => true) %></p>
  
  <% if @table.column_names and @table.column_names.size > 0 %>
    <table>
      <tr>
        <% @table.column_names.each do |name| %>
          <th><%= name %></th>
        <% end %>
      </tr>
    </table>
  <% end %>
<% end %>

<hr/>

<%= simple_format(@table.metric_data) %>

<%= transform_display(@table) %>