<% title @table.name %>
<%= content_tag(:p, "Type: #{@table.data_type}") %>
<%= content_tag(:p, link_to("Edit", edit_table_path(@table))) if permitted_to? :edit, @table %>

<%= simple_format(@table.data) %>

<hr/>

<% if params[:test] %>
  <p><%= link_to "Hide Table Output", table_path(@table) %></p>
  <%= @table.test %>
<% else %>
  <p><%= link_to "See Table Output", table_path(@table, :test => true) %></p>
<% end %>