<h3>Table: <%= link_to @report.table.name, table_path(@report.table) %></h3>

<%= simple_form_for [@report.table, @report] do |f| %>
  <%= f.input :name %>
  <%= f.input :filename unless @report.new_record? %>
  <%= f.input :formatter, :collection => Report.formatters %>
  
  <%= f.input :transform, :collection => Transform.transforms, :label_method => :display_name, :value_method => :name %>
  <%= f.input :transform_json, :as => :text %>
  
  <%= f.button :submit %>
<% end %>