<% title @report.name %>
<h3>Table: <%= link_to @report.table.name, table_path(@report.table) %></h3>

<% if @report.file_exists? %>
  <h5>URL: <%= link_to @report.url(root_url), @report.url(root_url) %></h5>
<% else %>
  <h5>URL: <%= @report.url(root_url) %></h5>
<% end %>

<h6>User: <%= "#{@report.user.email}" %></h6>
<h6>Running time: <%= report_time_run(@report) %></h6>
<h6>Last updated: <%= report_time_ago(@report) %></h6>
<h6>Next updated: <%= report_time_next(@report) %></h6>
<%= button_to "Queue Update Now", generate_table_report_path(@report.table, @report) if permitted_to? :generate, @report %>

<%= content_tag(:p, link_to("Edit", edit_table_report_path(@report.table, @report))) if permitted_to? :edit, @report %>

<%= transform_display(@report) %>

<hr/>
<%= report_error_html(@report) %>